.bg-pink{background-color:#fdf0de !important;}
 .navbar-nav .nav-link {
            font-size: 28px;
            text-align: center;
            font-weight: 600;
            flex: 2; /* Equal spacing */
        }
        .navbar-nav {
            width: 100%;
            display: flex;
            gap:60px;
            justify-content: space-between;
        }
.left1{margin-left: 100px;}
.loginbtn{font-size: 28px !important;color: white !important;  transition: all 0.3s ease;}
.loginbtn:hover {
    border-color: white !important;
    box-shadow: 0 0 10px rgba(250, 245, 245, 0.5);
    color: white !important;  transform: scale(1.05); 
}
a{text-decoration: none;}
li{list-style-type: none;}










